<aside>
	<div class="container">
		<nav>
			<ul>
				{% for page in site.pages %}
					{% if page.title and page.nav_exclude != true %}
						{% if page.title == 'Teaching' %}
							<li class="has-dropdown">
								<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
								<ul class="submenu">
									<li><a href="{{ '/teaching/chimie-organique/' | prepend: site.baseurl }}">Chimie Organique</a></li>
									<li><a href="{{ '/teaching/electrochimie/' | prepend: site.baseurl }}">Electrochimie</a></li>
									<li><a href="{{ '/teaching/ml-bootcamp/' | prepend: site.baseurl }}">ML Bootcamp</a></li>
								</ul>
							</li>
						{% else %}
							<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
			</ul>
		</nav>
	</div>
</aside>

{% if page.permalink == '/julesschleinitz.github.io/' %}
  <header class='header-about'>
  </header>
{% else %}
  {% if page.permalink == '/research/' %}
    <header class='header-research'>
    </header>
  {% else %}
    {% if page.permalink == '/code/' %}
      <header class='header-code'>
      </header>
    {% else %}
      {% if page.permalink == '/publications/' %}
        <header class='header-publications'>
        </header>
      {% else %}
        {% if page.permalink == '/teaching/' %}
          <header class='header-teaching'>
          </header>
	{% else %}
	  {% if page.permalink == '/cv/' %}
	  <header class='header-cv'>
          </header>
	{% else %}
	  <header>
          </header>
          {% endif %}
	  {% endif %}
	  {% endif %}
	  {% endif %}
	  {% endif %}
{% endif %}
